/* ----- Global Styling ----- */
:root {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    padding: 10vh 0;
}

/* --- Typographic Styling --- */
p {
    font-size: 16px;
    line-height: 1.5rem;
}
h1 {
    font-weight: 700;
    font-size: 7rem;
    line-height: 1em;

    margin: 0;
}
h2 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1em;
}


/* ----- Header-Styling ----- */
header {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    margin-left: 10%;
}

#about-project {
    width: 40%;
    margin-top: auto;
    z-index: 10;

    transition: all .2s;

    font-weight: 300;
    text-align: left;

    background: none;
    border: none;
}
#about-project:hover {
    text-decoration: underline;
}

/* ----- Slider-Styling ----- */
.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10vh 0;

    width: 100%;
    height: 100%;
}
.swiper-slide  {
    display: flex;
    width: 100%;
    height: 100%;

    overflow: hidden;
}
.swiper-slide .slide-information {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}
.swiper-slide .slide-information .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 20px;
    height: 20px;
    margin-right: 10px;

    background-color: white;
    border: 1px solid black;
}
.swiper-slide .slide-information .icon p {
    margin: 0;
    font-weight: 400;
}
.swiper-slide .slide-information .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;

    transition: all .2s;

    position: absolute;
    left: 30px;
    bottom: 0px;
    z-index: 100;

    width: 200px;
    padding: 10px;

    background-color: white;
    border: 1px solid black;
}
.swiper-slide .slide-information .information.show {
    opacity: 1;
}
.swiper-slide .slide-information .information p {
    margin: 2px 0;
}
.swiper-slide .slide-information .information .title {
    font-weight: 500;
}
.swiper-slide .slide-information .information .place {
    font-style: italic;
}
.swiper-slide img {
    width: auto;
    height: 100%;
}


/* ----- About-Styling ----- */
#slide-out {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;

    width: 42.5vw;
    height: 100vh;
    padding: 35px;

    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;

    transform: translate(-100%, 0);
    transition: all .3s;
}

#slide-out.show-information {
    transform: translate(0, 0);
}